*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

.cabecalho{
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2%;
	font-size: 0.9em;
}
.cabecalho a{
	width: 50%;
}
.cabecalho__logo{
	width: 60%;
}
.cabecalho__navegacao{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 20px;
}
.cabecalho__search{
	width: 50%;
	margin-left: 30px;
	display: flex;
	justify-content: space-around;
}
.cabecalho__menu{
	width: 50%;
	display: flex;
	justify-content: center;
}
.header__ulcolor1 a{
	color: #5882ff;
}
.header__ulcolor2 a{
	color: #2dbd96;
}
.header__ulcolor1 li,
.header__ulcolor2 li{
	margin-bottom: 10px;
}
.header__menu li{
	margin-bottom: 15px;
}
.header__menu a{
	color: #000;
}

/*CARDS*/

.card1 {
	width: 46%;
	margin: 2%;
	float: left;
}

.card2 {
	width: 46%;
	margin: 2%;
	float: right;
}

.box1 {
	width: 100%;
	background: #5882FF ;
	border-radius: 20px;
	overflow: hidden;
}

.box2 {
	width: 100%;
	background: #2DBD96;
	border-radius: 20px;
	overflow: hidden;
}

.inline {
	width: 45%;
	margin: 2% 0 2% 1%;
	display: inline-block;
	text-decoration: none;
}

.inline i {
	color: grey;
}

.inline a {
	margin: 0 4% 0 1%;
	text-decoration: none;
	color: #5882FF;
	font-size: 0.9em;
}

.box__img1 {
	width: 20%;
	float: left;
	margin: 5% 0 2% 3%;
}

.box__img2 {
	width: 20%;
	height: 5%;
	float: left;
	margin: 5% 0 2% 3%;
}

.formulario {
	overflow: hidden;
	width: 70%;
	margin: 5% 0 5% auto; 
}

.subtitle {
	font-size: 1.1em;
	color: white;
	text-transform: uppercase;
	margin-bottom: 1%;
}

.formulario input {
	width: 30%;
	float: left;
	background: rgba(255,255,255, 0.1);
	border: 1px solid white;
	padding: 1%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: white;
}

.form__direcao {
	width: 60%;
	float: right;
	margin: 0 6% 0 3%;
}

.formulario select {
	width: 100%;
	display: block;
	margin-bottom: 5%;
	background: rgba(255,255,255, 0.1);
	border: 1px solid white;
	padding: 1%;
	color: white;
}

.formulario button {
	width: 30%;
	margin-right: 5%;
	padding: 2%;
	border: none;
	text-decoration: none;
	background-color: white;
	color: #5882FF;
}

.box2 button {
	color: #2DBD96;
}

.formulario a {
	text-decoration: none;
	color: white;
	font-size: 0.8em;
}
.container{
	overflow: hidden;
}

/* Todos os boxes - main */

.box__texto1, .box__texto2, .box__texto3 {
	padding: 20px;
	color: gray;
	font-size: 0.9em;
}


/* Box 1 - main */

.box__texto1 {
	width: 100%;
	height: auto;
	padding: 0 30px;
}

.box__texto1 p {
	margin-top: 15px;
}

.box__texto1 span {
	font-weight: bold;
}

/* Box 2 - main */

.box__texto2 {
	width: 60%;
	float: left;
}

.box__texto2 p {
	margin-top: 15px;
}

.box__texto2 img {
	width: 9%;
	height: auto;
	float: left;
}


.box__texto2 div {
	padding-left: 20px; 
	width: 85%;
	float: left;
}

.box__texto2 div a {
	font-family: sans-serif;
	font-size: 15pt;
	font-weight: normal;
	color: #8aa1e3;
}

/* Box 3 - main */

.box__texto3 {
	width: 40%;
	float: right;
}

.box__texto3 p {
	margin-top: 15px;
}

.box__texto3 img {
	width: 100%;
	height: 50px;
	border-radius: 10px;
}

.box__texto3 h2 {
	margin-bottom: 15px;
}

.box__texto3 div {
	width: 90%;
}