* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	overflow: hidden;
}

.card1 {
	width: 46%;
	margin: 2%;
	float: left;
}

.card2 {
	width: 46%;
	margin: 2%;
	float: right;
}

.box1 {
	width: 100%;
	background: #5882FF ;
	border-radius: 20px;
	overflow: hidden;
}

.box2 {
	width: 100%;
	background: #2DBD96;
	border-radius: 20px;
	overflow: hidden;
}

.inline {
	width: 45%;
	margin: 2% 0 2% 1%;
	display: inline-block;
	text-decoration: none;
}

.inline i {
	color: grey;
}

.inline a {
	margin: 0 4% 0 1%;
	text-decoration: none;
	color: #5882FF;
	font-size: 0.9em;
}

.box__img1 {
	width: 20%;
	float: left;
	margin: 5% 0 2% 3%;
}

.box__img2 {
	width: 20%;
	height: 5%;
	float: left;
	margin: 5% 0 2% 3%;
}

.formulario {
	overflow: hidden;
	width: 70%;
	margin: 5% 0 5% auto; 
}

.subtitle {
	font-size: 1.1em;
	color: white;
	text-transform: uppercase;
	margin-bottom: 1%;
}

.formulario input {
	width: 30%;
	float: left;
	background: rgba(255,255,255, 0.1);
	border: 1px solid white;
	padding: 1%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: white;
}

.form__direcao {
	width: 60%;
	float: right;
	margin: 0 6% 0 3%;
}

.formulario select {
	width: 100%;
	display: block;
	margin-bottom: 5%;
	background: rgba(255,255,255, 0.1);
	border: 1px solid white;
	padding: 1%;
	color: white;
}

.formulario button {
	width: 30%;
	margin-right: 5%;
	padding: 2%;
	border: none;
	text-decoration: none;
	background-color: white;
	color: #5882FF;
}

.box2 button {
	color: #2DBD96;
}

.formulario a {
	text-decoration: none;
	color: white;
	font-size: 0.8em;
}